{% extends 'games/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>{{ post.title }}</h1>
            <div class="col-md-6">
                {% if post.photo %}
                <img class="img-thumbnail" src="{{ post.photo.url }}" width="100%" height="600"><text x="50%" y="50%"  dy=".3em">{{p.title}}</text>
            </div>
            {% endif %}
        <div class="col-md-6">
            {{ post.content|linebreaks }}
        </div>

    </div>

</div>
{% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}

        </p>
        {{ comment.body|linebreaks }}
    </div>

{% endfor %}

    <h2>Добавить коментарий</h2>
    <form action="{% url 'Comment_show' post.id %}" method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endblock %}